body
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

.container
{
	height: 500px;
	width: 100%;
	background-color: #FF2578;
	text-align: center;
}
.container img
{
	width: 120px;
	margin-top: 20px;
}
.container hr
{
	width: 70%;
	border-style: 1px solid pink;
}

@media only screen and (max-width: 900px) {

.page1 h1
{
	
	font-size: 34px;
}
.page1 .blue img
{
	width: 180px;
}
.container .web
{
	width: 90%;
}
.page2 .blue h2
{
	font-size: 24px;
}

.page2 .blue i
{
	font-size: 14px;
}
.page3 h2
{
	font-size: 24px;
}
.page3 p
{
	font-size: 14px;
}
.page4 h2
{
	font-size: 24px;
}
.page4 table
{
	font-size: 14px;
}
.page5 .bs
{
background-color: #FF2578;
padding: 10px 1px;

font-size: 14px;
}
.page6 h2
{
	font-size: 22px;
}
.page6 p
{
	font-size: 12px;
}
}

.web
{
	width: 70%;
	background-color: #fff;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.6);
	margin-top: 10px;
}
.blue img
{
	width: 220px;
}
.page1
{
	background-color: #253D5B;
}
.page1 .blue
{
	background-color: #FF2578;
	font-size: 28px;
	color: #fff;
	padding: 10px;

}
.page2
{
	background-image: url(wood.jpg);
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.page2 .blue
{
	
	font-size: 28px;
	color: #fff;
	padding: 20px;
	text-align: left;
	background-color: #FF2578;
	width: 80%;
}
.page2 .blue i
{
	padding: 8px;	
}

i:hover
{
color: #FF2578;
cursor: pointer;
}
.page3
{
	background-image: url(overview.jpg);
	padding: 40px;
	margin-top: 20px;
	font-size: 28px;
	color: #fff;
	text-align: left;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.page4
{
	background-image: url(bg.jpg);
	padding: 20px;
	padding-top: 50px;
	padding-bottom: 70px;
	margin-top: 20px;
	font-size: 28px;
	color: #fff;
	text-align: left;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.page4 table tr td li
{
padding-bottom: 10px;
}
.page5
{
	background-image: url(sty.jpg);
	margin-top: 20px;
	font-size: 28px;
	color: #fff;
	text-align: center;
	padding-bottom: 40px;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.page5 img
{
width: 70%;
height: 80%;
}
.page5 .bs
{
background-color: #FF2578;
padding: 20px 1px;
width: 70%;
}
.page5 table img
{
width: 50%;
margin-top: 10px;
}
.page6
{
	background-image: url(pot.jpg);
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
	margin-top: 20px;
	color: #fff;
	text-align: left;
	padding-right: 20px;
	padding-bottom: 10px;
}
.page6 table tr td
{
	width: 50%;
	font-size: 28px;
}
.page6 img
{
	width: 90%;
}
.page7
{
	background-image: url(vision.jpg);
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
	margin-top: 20px;
	text-align: left;
	padding: 20px;
	color: #fff;
}
.page7 .mission
{
	width: 70%;
}
.page7 .mission p
{
	text-align: justify;
}
.page7 .vission
{
	width: 70%;
	
	margin-left: 30%;
}
.page7 .vission p
{
	text-align: justify;
}
.page7 .goals
{
	width: 70%;
	
}
.page7 .goals p
{
	text-align: justify;
}
.page7 .values
{
	width: 70%;
	
	margin-left: 30%;
}
.page7 .values p
{
	text-align: justify;
}

.page9
{
	background-image: url(proces.jpg);
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
	margin-top: 20px;
	padding-bottom: 50px;
}
.page9 img
{
width: 100%;
}

